#google_translate_element {
    background: #fff;
    padding: 10px;
    margin-top: 1.2rem;
    border-radius: 5px;
    min-width: 100px !important;
}
/* OVERRIDE GOOGLE TRANSLATE WIDGET CSS BEGIN */
div#google_translate_element div.goog-te-gadget-simple {
    border: none;
    background-color: transparent;
    color: #000;
    /*background-color: #17548d;*/ /*#e3e3ff*/
}
div#google_translate_element div.goog-te-gadget-simple:hover {
    color: #000 !important;
}

div#google_translate_element div.goog-te-gadget-simple a.goog-te-menu-value:hover {
    text-decoration: none;
}

div#google_translate_element div.goog-te-gadget-simple a.goog-te-menu-value span {
    color: #aaa;
}

div#google_translate_element div.goog-te-gadget-simple a.goog-te-menu-value span:hover {
    color: #9c9c9c;
}

.goog-te-gadget-icon {
    display: none !important;
    /*background: url("url for the icon") 0 0 no-repeat !important;*/
}

/* Remove the down arrow */
/* when dropdown open */
div#google_translate_element div.goog-te-gadget-simple a.goog-te-menu-value span[style="color: rgb(213, 213, 213);"] {
    /*display: none;*/
}



/* after clicked/touched */
div#google_translate_element div.goog-te-gadget-simple a.goog-te-menu-value span[style="color: rgb(118, 118, 118);"] {
    /*display: none;*/
}

/* on page load (not yet touched or clicked) */
div#google_translate_element div.goog-te-gadget-simple a.goog-te-menu-value span[style="color: rgb(155, 155, 155);"] {
    /*display: none;*/
}

/* Remove span with left border line | (next to the arrow) in Chrome & Firefox */
div#google_translate_element div.goog-te-gadget-simple a.goog-te-menu-value span[style="border-left: 1px solid rgb(187, 187, 187);"] {
    display: none;
}

/* Remove span with left border line | (next to the arrow) in Edge & IE11 */
div#google_translate_element div.goog-te-gadget-simple a.goog-te-menu-value span[style="border-left-color: rgb(187, 187, 187); border-left-width: 1px; border-left-style: solid;"] {
    display: none;
}

/* HIDE the google translate toolbar */
.goog-te-banner-frame.skiptranslate {
    display: none !important;
}

body {
    top: 0px !important;
}

iframe.goog-te-menu-frame {
    width: 105px !important;
}

/* OVERRIDE GOOGLE TRANSLATE WIDGET CSS END */